@tailwind base;
@tailwind components;
@tailwind utilities;


*::-webkit-scrollbar {
    display: none;
}
/* for |IE|Edge| scrollbar */
* {
    -ms-overflow-style: none;
}

body {
    scrollbar-width: none;
}